---
- job:
    name: Bouncer_CDN
    display-name: Bouncer_CDN
    project-type: freestyle
    description: |
        <strong>
        This job has been migrated to AWS. Please execute it from 
        <a href='https://deploy.blue.production.govuk.digital/job/Bouncer_CDN/'>
        https://deploy.blue.production.govuk.digital/job/Bouncer_CDN/
        </a>
    builders:
        - shell: |
            echo "Job not runable please use alternative Jenkins"
