---
- job:
    name: content_performance_manager_import_etl_master_process
    display-name: Content Performance Manager - ETL master
    project-type: freestyle
    description: "<p>Run the etl:master rake task.</p>"
    builders:
      - shell: ssh deploy@$(govuk_node_list -c backend --single-node) "cd /var/apps/content-performance-manager && govuk_setenv content-performance-manager bundle exec rake etl:master"
    wrappers:
      - ansicolor:
          colormap: xterm
    publishers:
      - email:
          recipients: govuk-ci-notifications@digital.cabinet-office.gov.uk
  <% if @rake_etl_master_process_cron_schedule %>
    triggers:
      - timed: <%= @rake_etl_master_process_cron_schedule %>
  <% end %>
    logrotate:
        numToKeep: 10

