---
- job:
    name: content_audit_tool_import_all_content_items
    display-name: Content Audit Tool - import inventory
    project-type: freestyle
    description: "<p>Run the import:all_content_items rake task.</p>"
    builders:
      - shell: ssh deploy@$(govuk_node_list -c backend --single-node) "cd /var/apps/content-audit-tool && govuk_setenv content-audit-tool bundle exec rake import:all_content_items"
    wrappers:
      - ansicolor:
          colormap: xterm
    publishers:
      - email:
          recipients: govuk-ci-notifications@digital.cabinet-office.gov.uk
  <% if @rake_import_all_content_items_frequency %>
    triggers:
      - timed: <%= @rake_import_all_content_items_frequency %>
  <% end %>
    logrotate:
        numToKeep: 10
- job:
    name: content_audit_tool_import_all_ga_metrics
    display-name: Content Audit Tool - import GA
    project-type: freestyle
    description: "<p>Run the import:all_ga_metrics rake task.</p>"
    properties:
      - build-discarder:
          days-to-keep: 30
          artifact-num-to-keep: 5
    builders:
      - shell: ssh deploy@$(govuk_node_list -c backend --single-node) "cd /var/apps/content-audit-tool && govuk_setenv content-audit-tool bundle exec rake import:all_ga_metrics"
    wrappers:
      - ansicolor:
          colormap: xterm
    publishers:
      - email:
          recipients: govuk-ci-notifications@digital.cabinet-office.gov.uk
  <% if @rake_import_all_ga_metrics_frequency %>
    triggers:
      - timed: <%= @rake_import_all_ga_metrics_frequency %>
  <% end %>
    logrotate:
        numToKeep: 10
