---
- scm:
    name: deployment_Deploy_Puppet
    scm:
        - git:
            url: git@github.gds:gds/deployment.git
            branches:
              - master

- job:
    name: Deploy_Puppet
    display-name: Deploy_Puppet
    project-type: freestyle
    description: "<a href='http://www.flickr.com/photos/fatty/9158066939/'><img src='https://farm3.staticflickr.com/2835/9158066939_374360ed56_n.jpg'></a><p>This job deploys the puppet release branch by default. To promote something into the release branch so it can be deployed to <%= @environment -%>, see the instructions on the <a href='https://ci-new.alphagov.co.uk/job/Puppet_Promote_To_Release_Ready/'>Puppet_Promote_To_Release_Ready</a> job.</p>"
    <%- if @auth_token -%>
    auth-token: <%= @auth_token %>
    <%- end -%>
    properties:
        - github:
            url: https://github.gds/gds/deployment/
    scm:
      - deployment_Deploy_Puppet
    builders:
        - shell: |
           sh -eu puppet/deploy.sh
    publishers:
        - description-setter:
            regexp: 'Deployed ([^ ]+) \(resolved'
        - trigger-parameterized-builds:
            - project: Smokey
              condition: 'SUCCESS'
    wrappers:
        - ansicolor:
            colormap: xterm
        - build-name:
            name: '#${BUILD_NUMBER} ${ENV,var="TAG"}'
    parameters:
        - string:
            name: TAG
            description: Git tag/committish to deploy.
            default: release
