---
- job:
    name: email-alert-api-schedule-subscriber-count-update
    display-name: "email-alert-api: update subscriber counts"
    project-type: freestyle
    description: "<p>Regularly run the schedule_update_subscriber_counts rake task for email-alert-api.</p>"
    builders:
        - trigger-builds:
            - project: run-rake-task
              block: true
              predefined-parameters: |
                TARGET_APPLICATION=email-alert-api
                MACHINE_CLASS=backend
                RAKE_TASK=schedule_update_subscriber_counts
    publishers:
        - email:
            recipients: govuk-ci-notifications@digital.cabinet-office.gov.uk
    triggers:
      - timed: "30 2 * * *"
    logrotate:
        numToKeep: 10
