---
- scm:
    name: rummager_fetch-prototype-taxonomy-data
    scm:
        - git:
            url: git@github.com:alphagov/rummager.git
            branches:
              - master
- job:
    name: fetch-prototype-taxonomy-data
    display-name: fetch-prototype-taxonomy-data
    project-type: freestyle
    description: "<p>Fetch taxonomy mappings from spreadsheets stored on Google Drive.</p>
      <p>This task merges the remote spreadsheets into a single file, stores it in a shared place, and ensures that all Rummager machines have a copy.</p>"
    scm:
      - rummager_fetch-prototype-taxonomy-data
    builders:
        - shell: |
            if [ \! -d ENV ]; then virtualenv ENV; fi
            . ENV/bin/activate
            ssh deploy@search-3.api '(cd /data/apps/rummager/shared; mkdir -p alpha_taxonomy)'
            ssh deploy@search-2.api '(cd /data/apps/rummager/shared; mkdir -p alpha_taxonomy)'
            ssh deploy@search-1.api '(cd /data/apps/rummager/shared; mkdir -p alpha_taxonomy)'
            ssh deploy@search-1.api '(cd /var/apps/rummager; TAXON_IMPORT_FILE=/data/apps/rummager/shared/alpha_taxonomy/import_dataset.csv govuk_setenv rummager bundle exec rake taxonomy_prototype:download_data)'
            ssh -A deploy@search-1.api '(scp /data/apps/rummager/shared/alpha_taxonomy/import_dataset.csv deploy@search-2.api:/data/apps/rummager/shared/alpha_taxonomy/import_dataset.csv)'
            ssh -A deploy@search-1.api '(scp /data/apps/rummager/shared/alpha_taxonomy/import_dataset.csv deploy@search-3.api:/data/apps/rummager/shared/alpha_taxonomy/import_dataset.csv)'
    triggers:
      - timed: 'H 2 * * *'
    publishers:
        - trigger-parameterized-builds:
            - project: Success_Passive_Check
              condition: 'SUCCESS'
              predefined-parameters: |
                  NSCA_CHECK_DESCRIPTION=<%= @service_description %>
                  NSCA_OUTPUT=<%= @service_description %> success
            - project: Failure_Passive_Check
              condition: 'FAILED'
              predefined-parameters: |
                  NSCA_CHECK_DESCRIPTION=<%= @service_description %>
                  NSCA_OUTPUT=<%= @service_description %> failed
    wrappers:
        - ansicolor:
            colormap: xterm
