---
- scm:
    name: performanceplatform-govuk-stats_run_govuk_complaint_rate_report
    scm:
        - git:
            url: git@github.com:alphagov/performanceplatform-govuk-stats.git
            branches:
              - release

- job:
    name: run_govuk_complaint_rate_report
    display-name: run_govuk_complaint_rate_report
    project-type: freestyle
    description: "<p>Updates data in the performance platform about pages on GOV.UK with the highest number of problem reports. The      data spans the last six weeks.</p><p>See the <a href=\"https://github.com/alphagov/performanceplatform-govuk-stats/blob/maste      r/README.md\">repo's README</a> for more detail on what this does, how it works, and what to do if the job fails.</p><p>The C      SV reports (report_*.csv) are not sent anywhere after being created; they exist only in the workspace for this job unless man      ually copied to somewhere else, so please don't clear the workspace without taking a copy of them first.</p>"
    logrotate:
      artifactNumToKeep: 50
    scm:
      - performanceplatform-govuk-stats_run_govuk_complaint_rate_report
    builders:
        - shell: |
            export PP_DATA_DOMAIN="https://www.performance.service.gov.uk/data"
            <%- if @performanceplatform_dataset_token -%>
            export PP_DATASET_TOKEN="<%= @performanceplatform_dataset_token -%>"
            <%- end -%>
            export LOG_LEVEL=debug
            cd "${WORKSPACE}"
            ./run.sh
    triggers:
        - timed: 'H 4 * * *'
