---
- job:
    name: signon_rake_oauth_access_grants_delete_expired
    display-name: "Signon: Delete expired OAuth access grants (scheduled)"
    project-type: freestyle
    description: "<p>Regularly run the oauth_access_grants:delete_expired rake task for signon.</p>"
    builders:
        - trigger-builds:
            - project: run-rake-task
              block: true
              predefined-parameters: |
                TARGET_APPLICATION=signon
                MACHINE_CLASS=backend
                RAKE_TASK=oauth_access_grants:delete_expired
    publishers:
        - email:
            recipients: govuk-ci-notifications@digital.cabinet-office.gov.uk
    triggers:
      - timed: <%= @rake_oauth_access_grants_delete_expired_frequency %>
    logrotate:
        numToKeep: 10
- job:
    name: signon_rake_organisations_fetch
    display-name: "Signon: Sync organisations with Whitehall (scheduled)"
    project-type: freestyle
    description: "<p>Regularly run the organisations:fetch rake task for signon.</p>"
    properties:
      - build-discarder:
          days-to-keep: 30
          artifact-num-to-keep: 5
    builders:
        - trigger-builds:
            - project: run-rake-task
              block: true
              predefined-parameters: |
                TARGET_APPLICATION=signon
                MACHINE_CLASS=backend
                RAKE_TASK=organisations:fetch
    publishers:
        - email:
            recipients: govuk-ci-notifications@digital.cabinet-office.gov.uk
    triggers:
      - timed: <%= @rake_organisations_fetch_frequency %>
    logrotate:
        numToKeep: 10
- job:
    name: signon_rake_users_suspend_inactive
    display-name: "Signon: Suspend inactive users (scheduled)"
    project-type: freestyle
    description: "<p>Regularly run the users:suspend_inactive rake task for signon.</p>"
    builders:
        - trigger-builds:
            - project: run-rake-task
              block: true
              predefined-parameters: |
                TARGET_APPLICATION=signon
                MACHINE_CLASS=backend
                RAKE_TASK=users:suspend_inactive
    publishers:
        - email:
            recipients: govuk-ci-notifications@digital.cabinet-office.gov.uk
    triggers:
      - timed: <%= @rake_users_suspend_inactive_frequency %>
        logrotate:
            numToKeep: 10
- job:
    name: signon_rake_users_send_suspension_reminders
    display-name: "Signon: Send suspension reminders (scheduled)"
    project-type: freestyle
    description: "<p>Regularly run the users:send_suspension_reminders rake task for signon.</p>"
    builders:
        - trigger-builds:
            - project: run-rake-task
              block: true
              predefined-parameters: |
                TARGET_APPLICATION=signon
                MACHINE_CLASS=backend
                RAKE_TASK=users:send_suspension_reminders
    publishers:
        - email:
            recipients: govuk-ci-notifications@digital.cabinet-office.gov.uk
    triggers:
      - timed: <%= @rake_users_send_suspension_reminders_frequency %>
        logrotate:
            numToKeep: 10
