---
- job:
    name: Trade_Tariff_Reindex_ElsaticSearch
    display-name: Trade_Tariff_Reindex_ElsaticSearch
    project-type: freestyle
    description: '<p>Drops and rebuilds the search index</p>'
    builders:
        - shell: |
           "ssh deploy@backend-1.backend.production 'cd /var/apps/tariff-api && govuk_setenv tariff-api bundle exec rake tariff:rei      ndex'"
    publishers:
        - trigger:
            project: Smokey_Production
    wrappers:
        - ansicolor:
            colormap: xterm
    triggers:
        - timed: '5 6 * * *'
    logrotate:
      artifactNumToKeep: 3
