---
- job:
    name: Transition_load_transition-stats_hits
    display-name: Transition_load_transition-stats_hits
    project-type: freestyle
    description: "<p>Loads hits data from our CDN logs into Transition soon after they are processed.</p>"
    logrotate:
      numToKeep: 20
    properties:
        - github:
            url: https://github.com/alphagov/transition-stats/
    triggers:
        - timed: '50 07-19 * * 1-5'
    builders:
        - shell: |
            rm -rf data
            mkdir data
            git clone --depth 1 git@github.com:alphagov/transition-stats.git data/transition-stats
            rsync --delete -avz -e ssh data/transition-stats deploy@backend-1.backend:/var/apps/transition/data
            ssh deploy@backend-1.backend "cd /var/apps/transition && govuk_setenv transition bundle exec rake import:hits[data/transition-stats/hits/cdn_*]"
