---
- job:
    name: Transition_load_transition-stats_hits
    display-name: Transition_load_transition-stats_hits
    project-type: freestyle
    description: "<p>Loads hits data from our CDN logs into Transition soon after they are processed.</p>"
    logrotate:
      numToKeep: 20
    properties:
        - build-discarder:
            days-to-keep: 30
            artifact-num-to-keep: 5
        - github:
            url: https://github.com/alphagov/transition-stats/
    triggers:
        - timed: '50 07-19 * * 1-5'
    builders:
        - shell: |
            rm -rf data
            mkdir data
            git clone --depth 1 git@github.com:alphagov/transition-stats.git data/transition-stats
            <%- if scope.lookupvar('::aws_migration') %>
              HOSTNAME=$(govuk_node_list -c backend --single-node)
            <%- else -%>
              HOSTNAME="backend-1.backend"
            <%- end %>
            rsync --delete -avz -e ssh data/transition-stats deploy@$HOSTNAME:/var/apps/transition/data
            ssh deploy@$HOSTNAME "cd /var/apps/transition && govuk_setenv transition bundle exec rake import:hits[data/transition-stats/hits/logs_cdn_*]"
