---
- scm:
    name: transition-config_Transition_load_site_config
    scm:
        - git:
            url: git@github.com:alphagov/transition-config.git
            branches:
              - release

- job:
    name: Transition_load_site_config
    display-name: Transition_load_site_config
    project-type: freestyle
    description: "<p>Loads site configuration into Transition/Bouncer from the release branch.</p>"
    scm:
      - transition-config_Transition_load_site_config
    logrotate:
      numToKeep: 30
    properties:
      - build-discarder:
          days-to-keep: 30
          artifact-num-to-keep: 5
    builders:
        - shell: |
            <%- if scope.lookupvar('::aws_migration') %>
            HOSTNAME=$(govuk_node_list -c backend --single-node)
            <%- else -%>
            HOSTNAME="backend-1.backend"
            <%- end -%>
            rsync --delete -avz -e ssh ./ deploy@$HOSTNAME:/var/apps/transition/data/transition-config
            ssh deploy@$HOSTNAME "cd /var/apps/transition && govuk_setenv transition bundle exec rake import:all:orgs_sites_hosts"
    triggers:
        - pollscm: '00 09-19 * * 1-5'
    wrappers:
        - ansicolor:
            colormap: xterm
    publishers:
        - trigger-parameterized-builds:
            - project: Bouncer_CDN
              condition: 'SUCCESS'
              trigger-with-no-params: true
