---
- scm:
    name: transition-config_Transition_load_site_config
    scm:
        - git:
            url: git@github.com:alphagov/transition-config.git
            branches:
              - master

- job:
    name: Transition_load_site_config
    display-name: "Transition: load site config"
    project-type: freestyle
    description: |
      <p>
        Updates the site configs in response to updates to the
        <a href="https://github.com/alphagov/transition-config">transition-config</a>
        release branch being updated.
      </p>
    scm:
      - transition-config_Transition_load_site_config
    logrotate:
      numToKeep: 30
    properties:
      - build-discarder:
          days-to-keep: 30
          artifact-num-to-keep: 5
    builders:
        - shell: |
            HOSTNAME=$(govuk_node_list -c backend --single-node)
            rsync --delete -avz -e ssh ./ deploy@$HOSTNAME:/var/apps/transition/data/transition-config
            ssh deploy@$HOSTNAME "cd /var/apps/transition && govuk_setenv transition bundle exec rake import:all:orgs_sites_hosts"
    triggers:
        - pollscm: |
            TZ=Europe/London
            00 09-19 * * 1-5
    wrappers:
        - ansicolor:
            colormap: xterm
    publishers:
        - trigger-parameterized-builds:
            - project: Bouncer_CDN
              condition: 'SUCCESS'
              trigger-with-no-params: true
