---
- job:
    name: Transition_load_site_config
    display-name: Transition_load_site_config
    project-type: freestyle
    description: |
        <strong>
        This job has been migrated to AWS. Please execute it from 
        <a href='https://deploy.blue.production.govuk.digital/job/Transition_load_site_config/'>
        https://deploy.blue.production.govuk.digital/job/Transition_load_site_config/
        </a>
    </strong>
    builders:
        - shell: |
            echo "Job not runable please is alternative Jenkins"
