---
- scm:
    name: dns_tools
    scm:
        - git:
            url: git@github.com:alphagov/govuk-dns.git
            branches:
              - master
            wipe-workspace: true
            clean:
                after: true
- job:
    name: Validate_published_DNS
    display-name: Validate_published_DNS
    project-type: freestyle
    description: "<p>Check that the published DNS records match those in the <a href='https://github.com/alphagov/govuk-dns-config'>govuk-dns-config repo</a> YAML file.</p>"
    logrotate:
        numToKeep: 30
    properties:
        - build-discarder:
            days-to-keep: 30
            artifact-num-to-keep: 5
        - github:
            url: https://github.com/alphagov/govuk-dns/
    scm:
      - dns_tools
    builders:
        - shell: |
            set -e
            rm -rf govuk-dns-config
            git clone --branch master --depth 1 git@github.com:alphagov/govuk-dns-config.git
            cp "./govuk-dns-config/${ZONEFILE}" .
            bundle install --path "${HOME}/bundles/${JOB_NAME}"
            bundle exec rake validate_dns
    wrappers:
        - ansicolor:
            colormap: xterm
    parameters:
        - string:
            name: CUSTOM_NS
            default: false
            description: Specify a custom nameserver to query
        - string:
            name: ZONEFILE
            default: publishing.service.gov.uk.yaml
            description: Set the zonefile to test
    <% if @run_daily %>
    publishers:
        - email:
            recipients: 2nd-line-support@digital.cabinet-office.gov.uk
    triggers:
        - timed: '@midnight'
    <% end %>
