---
- job:
    name: Whitehall_rebuild_elasticsearch_index
    display-name: Whitehall_rebuild_elasticsearch_index
    project-type: freestyle
    description: "<p>Rebuild the whitehall elasticsearch indexes (both the \"government\" and the \"detailed\" index). This works by exporting the index data in json bulk format, copying      it to a machine running Rummager, and then running the Rummager <code>bulk_load</code> script. It locks the index at the start of the process so that incoming index jobs will queue      up until the re-index is complete. This avoids losing any updates during the re-index, but does mean that updates wont be reflected in the search index while the process runs.</p><      p> The bulk_load also loads the data into an un-connected index and switches the alias at the end of the indexing job this means that there's no down time during re-indexing.</p>"
    builders:
        - shell: |
            ssh deploy@search-1.api '
            cd /var/apps/rummager &&
            govuk_setenv rummager bundle exec ./bin/lock_updates government lock &&
            govuk_setenv rummager bundle exec ./bin/lock_updates detailed lock
            ' &&
            ssh deploy@whitehall-frontend-1.frontend '
            cd /var/apps/whitehall &&
            rm -rf /tmp/rummager_dump_government &&
            rm -rf /tmp/rummager_dump_detailed &&
            EXPORT_DIRECTORY=/tmp/rummager_dump_government govuk_setenv whitehall bundle exec ./script/rummager_export.rb &&
            EXPORT_DIRECTORY=/tmp/rummager_dump_detailed   govuk_setenv whitehall bundle exec ./script/rummager_export.rb --detailed &&
            cat /tmp/rummager_dump_government/*.esdump > /tmp/rummager_dump_government.jsonl &&
            cat /tmp/rummager_dump_detailed/*.esdump > /tmp/rummager_dump_detailed.jsonl
            ' &&
            scp deploy@whitehall-frontend-1.frontend:/tmp/rummager_dump_government.jsonl /tmp/rummager_dump_government.jsonl &&
            scp /tmp/rummager_dump_government.jsonl deploy@search-1.api:/tmp/rummager_dump_government.jsonl &&
            scp deploy@whitehall-frontend-1.frontend:/tmp/rummager_dump_detailed.jsonl /tmp/rummager_dump_detailed.jsonl &&
            scp /tmp/rummager_dump_detailed.jsonl deploy@search-1.api:/tmp/rummager_dump_detailed.jsonl &&
            ssh deploy@search-1.api '
            cd /var/apps/rummager &&
            govuk_setenv rummager bundle exec ./bin/bulk_load government < /tmp/rummager_dump_government.jsonl &&
            govuk_setenv rummager bundle exec ./bin/bulk_load detailed < /tmp/rummager_dump_detailed.jsonl
            ' &&
            ssh deploy@search-1.api '
            cd /var/apps/rummager &&
            govuk_setenv rummager bundle exec ./bin/lock_updates government unlock &&
            govuk_setenv rummager bundle exec ./bin/lock_updates detailed unlock
            ' &&
            ssh deploy@search-1.api '
            rm -f /tmp/rummager_dump_government.jsonl /tmp/rummager_dump_detailed.jsonl
            ' &&
            ssh deploy@whitehall-frontend-1.frontend '
            rm -f /tmp/rummager_dump_government.jsonl /tmp/rummager_dump_detailed.jsonl
            ' &&
            rm -f /tmp/rummager_dump_government.jsonl /tmp/rummager_dump_detailed.jsonl
