---
- job:
    name: whitehall_run_broken_link_checker
    display-name: whitehall_run_broken_link_checker
    project-type: freestyle
    description: "<p>Triggers the broken link checker rake task on whitehall-backend-1.</p>"
    properties:
      - build-discarder:
          days-to-keep: 30
          artifact-num-to-keep: 5
    builders:
        - shell: |
            ssh deploy@$(govuk_node_list -c whitehall_backend --single-node) 'cd /var/apps/whitehall; govuk_setenv whitehall nohup bundle exec rake generate_broken_link_reports[/tmp/bad_link_reports,second-line-content@digital.cabinet-office.gov.uk]'
            echo "Broken link checker run"
    triggers:
        - timed: '0 2 1 * *'
    wrappers:
        - ansicolor:
            colormap: xterm
    publishers:
        - email:
            recipients: govuk-ci-notifications@digital.cabinet-office.gov.uk
        - trigger-parameterized-builds:
            - project: success_passive_check
              condition: 'SUCCESS'
              predefined-parameters: |
                  NSCA_CHECK_DESCRIPTION=<%= @service_description %>
                  NSCA_OUTPUT=<%= @service_description %> successful
            - project: failure_passive_check
              condition: 'FAILED'
              predefined-parameters: |
                  NSCA_CHECK_DESCRIPTION=<%= @service_description %>
                  NSCA_OUTPUT=<%= @service_description %> failed
    logrotate:
        numToKeep: 10
