---
- job:
    name: Trade_Tariff_Reindex_ElasticSearch
    display-name: Trade_Tariff_Reindex_ElasticSearch
    project-type: freestyle
    description: '<p>Drops and rebuilds the search index</p>'
    builders:
        - shell: |
           ssh deploy@backend-1.backend 'cd /var/apps/tariff-api && govuk_setenv tariff-api bundle exec rake tariff:reindex'
    publishers:
        - trigger:
            project: Smokey_Production
    wrappers:
        - ansicolor:
            colormap: xterm
    triggers:
        - timed: '5 6 * * *'
    logrotate:
      artifactNumToKeep: 3
