<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>GOV.UK publishing tools are currently unavailable due to scheduled maintenance</title>

    <script type="text/javascript">
      (function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();
    </script>

    <!--[if gt IE 8]><!--><link href="https://assets.digital.cabinet-office.gov.uk/static/govuk-template-50fed8acc0a304648a724454c603ceb7.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <!--[if IE 6]><link href="https://assets.digital.cabinet-office.gov.uk/static/govuk-template-ie6-11bf462dc6d5847ee13074af8788a772.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="https://assets.digital.cabinet-office.gov.uk/static/govuk-template-ie7-4916e3b893b12b93ede26ae3e33661e1.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="https://assets.digital.cabinet-office.gov.uk/static/govuk-template-ie8-5248098159568c394a729a797d44720e.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

    <link href="https://assets.digital.cabinet-office.gov.uk/static/govuk-template-print-6f14eb4a90c38931e7b99dd8df726f14.css" media="print" rel="stylesheet" type="text/css" />

    <!--[if IE 8]>
    <script type="text/javascript">
      (function(){if(window.opera){return;}
       setTimeout(function(){var a=document,g,b={families:(g=
       ["nta"]),urls:["https://assets.digital.cabinet-office.gov.uk/static/fonts-ie8-d97cda5fe99ff271942eae45678fb39b.css"]},
       c="https://assets.digital.cabinet-office.gov.uk/static/vendor/goog/webfont-debug-ab8cd148b9ae28f8f7992fdd6c30fce0.js",d="script",
       e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
       ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
       .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()
    </script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
      <link href="https://assets.digital.cabinet-office.gov.uk/static/fonts-13bc2e6735c0e0b82fa507663188d671.css" media="all" rel="stylesheet" type="text/css" />
    <!--<![endif]-->


    <!--[if lt IE 9]>
      <script src="https://assets.digital.cabinet-office.gov.uk/static/ie-91ad834d547417cf5bfd85489b1b31f2.js" type="text/javascript"></script>
    <![endif]-->

    <link rel="shortcut icon" href="https://assets.digital.cabinet-office.gov.uk/static/favicon-57e933c8c6277906702ba4695a09edb0.ico" type="image/x-icon" />

    <!-- Size for iPad and iPad mini (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://assets.digital.cabinet-office.gov.uk/static/apple-touch-icon-152x152-7e854cefae24351f8c8a12d50e90db6d.png">
    <!-- Size for iPhone and iPod touch (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://assets.digital.cabinet-office.gov.uk/static/apple-touch-icon-120x120-3b7f2928e3d7c740dd161e6306ca2cc1.png">
    <!-- Size for iPad 2 and iPad mini (standard resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://assets.digital.cabinet-office.gov.uk/static/apple-touch-icon-76x76-24fa7807f425e147b6dc3036cfd7f5e9.png">
    <!-- Default non-defined size, also used for Android 2.1+ devices -->
    <link rel="apple-touch-icon-precomposed" href="https://assets.digital.cabinet-office.gov.uk/static/apple-touch-icon-60x60-679dd2a9f481e50e5c759890ea7b7f29.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://assets.digital.cabinet-office.gov.uk/static/opengraph-image-fa1b2078c6bd52263f88d5d024ad955a.png">

      <!--[if gt IE 8]><!--><link href="https://assets.digital.cabinet-office.gov.uk/static/static-2ce3a77d9b70c69607e26e935063f1d0.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
<!--[if IE 6]><link href="https://assets.digital.cabinet-office.gov.uk/static/static-ie6-7b85232bea4ef71a8ac44b117479b1ac.css" media="screen" rel="stylesheet" type="text/css" /><script>var ieVersion = 6;</script><![endif]-->
<!--[if IE 7]><link href="https://assets.digital.cabinet-office.gov.uk/static/static-ie7-0043e108fcb08e723d1d9bacdf126ea9.css" media="screen" rel="stylesheet" type="text/css" /><script>var ieVersion = 7;</script><![endif]-->
<!--[if IE 8]><link href="https://assets.digital.cabinet-office.gov.uk/static/static-ie8-b65a2861b4ffabfff5ec0c84443a16c4.css" media="screen" rel="stylesheet" type="text/css" /><script>var ieVersion = 8;</script><![endif]-->

<link href="https://assets.digital.cabinet-office.gov.uk/static/static-print-eb4650aa6ea969586300078fc4a8725b.css" media="print" rel="stylesheet" type="text/css" />


  </head>

  <body class="mainstream error">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
    </div>
    <!--end global-cookie-message-->

    <header role="banner" id="global-header" class="">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="https://assets.digital.cabinet-office.gov.uk/static/gov.uk_logotype_crown_invert_trans-9d93c8f3603fc77c62c979f1386bcb0d.png" width="35" height="31" alt=""> GOV.UK
            </a>
          </div>
            <a href="#search" class="search-toggle js-header-toggle">Search</a>

  <form id="search" class="site-search" action="/search" method="get" role="search">
    <div class="content">
      <label for="site-search-text">Search</label>
      <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
      <input class="submit" type="submit" value="Search" />
    </div>
  </form>

        </div>

      </div>
    </header>
    <!--end header-->

      <div id="user-satisfaction-survey-container" data-survey-url="https://www.surveymonkey.com/s/6HZFSVC"></div>




    <div id="global-header-bar"></div>
    <!--end global-header-bar-->

        <div id="global-breadcrumb" class="header-context">
      <ol role="breadcrumbs" class="group">
        <li><a href="/">Home</a></li>
      </ol>
    </div>

  <div id="wrapper" class="group">
    <main id="content" role="main" class="group">

  <header class="page-header group">
    <div>
        <h1>GOV.UK publishing tools are currently unavailable due to scheduled maintenance</h1>
    </div>
  </header>
  <div class="article-container">
    <article role="article" class="group">
      <div class="inner">
          <p>We expect them to be available again at 09:00 Wednesday 23rd October.</p>
          <p>In the meantime, contact the GOV.UK lead (Single Point Of Contact) for your department or agency if you need to publish something in an <a href="https://www.gov.uk/guidance/contact-the-government-digital-service/how-to-contact-gds#emergency-support-requests">emergency</a></p>
          <p>The Inside GOV.UK blog has <a href="https://insidegovuk.blog.gov.uk/status/">more about the scheduled maintenance</a> </p>
      </div>
    </article>
  </div>

  <script type="text/javascript">
    window.httpStatusCode = '503';
  </script>
</main>

  </div>


    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
          <div class="footer-categories">
    <div class="footer-explore">
      <h2>Services and information</h2>

      <ul>
        <li><a href="/browse/benefits">Benefits</a></li>
        <li><a href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a></li>
        <li><a href="/browse/business">Business and self-employed</a></li>
        <li><a href="/browse/childcare-parenting">Childcare and parenting</a></li>
        <li><a href="/browse/citizenship">Citizenship and living in the UK</a></li>
        <li><a href="/browse/justice">Crime, justice and the law</a></li>
        <li><a href="/browse/disabilities">Disabled people</a></li>
        <li><a href="/browse/driving">Driving and transport</a></li>
      </ul>
      <ul>
        <li><a href="/browse/education">Education and learning</a></li>
        <li><a href="/browse/employing-people">Employing people</a></li>
        <li><a href="/browse/environment-countryside">Environment and countryside</a></li>
        <li><a href="/browse/housing-local-services">Housing and local services</a></li>
        <li><a href="/browse/tax">Money and tax</a></li>
        <li><a href="/browse/abroad">Passports, travel and living abroad</a></li>
        <li><a href="/browse/visas-immigration">Visas and immigration</a></li>
        <li><a href="/browse/working">Working, jobs and pensions</a></li>
      </ul>
    </div>

    <div class="footer-inside-government">
      <h2>Departments and policy</h2>

      <ul>
        <li><a href="/government/how-government-works">How government works</a></li>
        <li><a href="/government/organisations">Departments</a></li>
        <li><a href="/government/world">Worldwide</a></li>
        <li><a href="/government/policies">Policies</a></li>
        <li><a href="/government/publications">Publications</a></li>
        <li><a href="/government/announcements">Announcements</a></li>
      </ul>
    </div>
    <hr>
  </div>


        <div class="footer-meta">
          <div class="footer-meta-inner">
              <h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="/help">Help</a></li>
  <li><a href="/help/cookies">Cookies</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/cymraeg">Rhestr o Wasanaethau Cymraeg</a></li>
  <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a></li>
</ul>



            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <!--end footer-->

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="https://assets.digital.cabinet-office.gov.uk/static/govuk-template-5d7801330b37cc8210cbd36acdc63dde.js" type="text/javascript"></script>

      <script src="https://assets.digital.cabinet-office.gov.uk/static/libs/jquery/jquery-1.11.3-40570beb67d392cbd29edad1184560ed.js" type="text/javascript"></script>
<script src="https://assets.digital.cabinet-office.gov.uk/static/application-ffb49b1a12c732a19d544ba96a5bede2.js" type="text/javascript"></script>


  </body>
</html>
